<section>
  <nav class="navbar navbar-light" style="background-color: #cad2c5;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img
          src="../assets/box.svg"
          alt=""
          width="30"
          height="24"
          class="d-inline-block align-text-top"
        />
        Pedidos
      </a>
      <a class="navbar-brand" href="#">
        <img
          src="../assets/card-checklist.svg"
          alt=""
          width="30"
          height="24"
          class="d-inline-block align-text-top"
        />
        Facturas
      </a>
      <a class="navbar-brand" href="#">
        <img
          src="../assets/currency-dollar.svg"
          alt=""
          width="30"
          height="24"
          class="d-inline-block align-text-top"
        />
        Ventas
      </a>
      <a class="navbar-brand" href="#">
        <img
          src="../assets/boxes.svg"
          alt=""
          width="30"
          height="24"
          class="d-inline-block align-text-top"
        />
        Almacen
      </a>
    </div>
  </nav>
</section>
<section>
  <div class="form-registro">
    <h4>Agregar Pedido</h4>
    <label class="labels" for="supermercado">Supermercado</label>
    <input
      class="controls"
      type="text"
      id="supermercado"
      placeholder="Supermercado que hizo el pedido"
      [(ngModel)]="pedido.supermercado"
    />
    <label class="labels" for="producto">Producto</label>
    <input
      class="controls"
      type="text"
      id="producto"
      placeholder="Tipo de producto"
      [(ngModel)]="pedido.producto"
    />
    <label class="labels" for="cantidad">Cantidad</label>
    <input
      class="controls"
      type="text"
      id="cantidad"
      placeholder="Cantidad en cajas"
      [(ngModel)]="pedido.cantidad"
    />
    <label class="labels" for="fecha">Fecha</label>
    <input
      class="controls"
      type="date"
      id="fecha"
      [(ngModel)]="pedido.fecha"
    />
    <button class="button" (click)="onDatos()">Agregar Pedido</button>
  </div>
  <div class="table-list">
    <table class="table table-success table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Supermercado</th>
          <th scope="col">Producto</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Fecha</th>
          <th scope="col">Editar</th>
          <th scope="col">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pedido of pedidos; index as i">
          <th scope=""></th>
          <td>{{ pedido.supermercado }}</td>
          <td>{{ pedido.producto }}</td>
          <td>{{ pedido.cantidad }}</td>
          <td>{{ pedido.fecha }}</td>
          <td><button class="btn btn-warning"><img src="../assets/pencil-square.svg" alt=""></button></td>
          <td><button class="btn btn-danger" (click)="onDelete(i)"><img src="../assets/trash.svg" alt=""></button></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>