<section>
    <nav class="navbar navbar-light" style="background-color: #cad2c5">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="pedidos">
          <img
            src="../assets/box.svg"
            alt=""
            width="30"
            height="24"
            class="d-inline-block align-text-top"
          />
          Pedidos
        </a>
        <a class="navbar-brand" routerLink="facturas">
          <img
            src="../assets/card-checklist.svg"
            alt=""
            width="30"
            height="24"
            class="d-inline-block align-text-top"
          />
          Facturas
        </a>
        <a class="navbar-brand" routerLink="home">
            <img src="" alt="">
        </a>
        <a class="navbar-brand" routerLink="ventas">
          <img
            src="../assets/currency-dollar.svg"
            alt=""
            width="30"
            height="24"
            class="d-inline-block align-text-top"
          />
          Ventas
        </a>
        <a class="navbar-brand" routerLink="almacen">
          <img
            src="../assets/boxes.svg"
            alt=""
            width="30"
            height="24"
            class="d-inline-block align-text-top"
          />
          Almacen
        </a>
      </div>
    </nav>
  </section>